@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #6366f1;
  --secondary: #ec4899;
  --accent: #f59e0b;
  --neutral: #3d4451;
  --base-100: #ffffff;
}

[data-theme="dark"] {
  --base-100: #1d232a;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--base-100);
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}


